input[type=radio] {
    border: 2px solid #fff;
    padding: 1.5em;
    -webkit-appearance: none;
    border-color: gray;
    margin: 0 5px;
  }
  
  input[type=radio]:checked {
    border-color: #FFF700;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }
  

  input[name=color]:nth-of-type(1){
    background-color: red;
  }
  input[name=color]:nth-of-type(2){
    background-color: green;
  }
  input[name=color]:nth-of-type(3){
    background-color: blue;
  }
  input[name=color]:nth-of-type(4){
    background-color: white;
  }
  input[name=color]:nth-of-type(5){
    background-color: black;
  }