<div class="host">
    <div class="component-header">
        <h1>Introducción</h1>
    </div>
    <div>
        <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label class="control-label col-sm-3" for="name">Nombre</label>
                <div class="col-sm-9">
                    <input name="name" id="name"  class="form-control" type="text" formControlName="name" [ngClass]="{ 'is-invalid': userForm.controls['name']?.touched && f.name.errors }"/>   
                    <div *ngIf="userForm.controls['name']?.touched && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">El nombre es requerido</div>
                        </div>        
                </div>
                
            </div>
            <div class="form-group row">
                <label for="age" class="control-label col-sm-3">Edad</label>
                <div class="col-sm-9">
                    <input name="age" id="age" class="form-control" type="number" formControlName="age" min="0" [ngClass]="{ 'is-invalid': userForm.controls['age']?.touched && f.age.errors }"/>
                    <div *ngIf="userForm.controls['age']?.touched && f.age.errors" class="invalid-feedback">
                        <div *ngIf="f.age.errors.required">La edad es requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                    <label for="color" class="control-label col-sm-3">Color</label>
                    <div class="col-sm-9">
                        <input type="radio" name="color" formControlName="color" value="rojo">
                        <input type="radio" name="color" formControlName="color" value="verde">
                        <input type="radio" name="color" formControlName="color" value="azul">
                        <input type="radio" name="color" formControlName="color" value="blanco">
                        <input type="radio" name="color" formControlName="color" value="negro">
                    </div>
            </div>
            <div>
                <a routerLink="/core" class="btn btn-primary" role="button" aria-pressed="true">
                    <span>Regresar</span>
                </a>
                <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Continuar</button>
            </div>
        </form>
            
      
    </div>
</div>

<ngx-smart-modal #myModal identifier="myModal">
        <h1>Infomación</h1>
        <p>
            Tu nombre es {{userForm.controls['name'].value}}.<br/>
            Tienes {{userForm.controls['age'].value}} años.<br/>
            <span *ngIf="userForm.controls['color'].value != ''">Tu color favorito es {{userForm.controls['color'].value}}</span>
        </p>
      
        <button (click)="myModal.close()">Cerrar</button>
</ngx-smart-modal>
