/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-smart-modal/ngx-smart-modal.css";
body{
    background-color: #EBECE7;
    font-family: sans-serif;
    font-size: 14px;
}

.btn{
    margin: 5px;
}

.host{
    background-color: #fff;
    color: rgb(149, 149, 149);
    margin-top: 10%;
    text-align: center;
    border-radius: 3px;
    padding: 2%;
}

.component-header{
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(54, 138, 187);
}