<div class="host">
    <div class="component-header">
        <h1>{{title}}</h1>
        <h2><a href="mailto:{{subtitle}}">{{subtitle}}</a></h2>
    </div>
    <div class="buttons">
        <button class="btn btn-primary" (click)="changeBodyBackgroundColor()">Change Background</button>
        <button class="btn btn-primary" (click)="getNextNumberPrime()">{{currentPrimeNumber}}</button>
        <button class="btn btn-primary" (click) ="sendToBackInit()">Send to Back</button>
        <a routerLink="/form" class="btn btn-primary" role="button" aria-pressed="true">
            <span>Formulario</span>
        </a>
        <button id="getWeather" class="btn btn-primary" (click) ="openWeatherComponent = !openWeatherComponent">Get Weather</button>
    </div>
</div>
<div id="weatherPanel" *ngIf="openWeatherComponent" class="host">
        <app-weather></app-weather>
</div>