.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons > .btn{
    flex-grow: 1;
    flex-basis: 150px;
    max-width: 170px;
    flex-shrink: 0.7;
}

.buttons > .btn:first{
    flex-grow: 2;
}

h1, h2{
    font-weight: 700;
}

h1{
    color: rgb(54, 138, 187);
    font-size: 1.5em;
}

h2{
    font-size: 1em;
}


@media screen and (min-width: 769px){
    #getWeather,#weatherPanel {
        display: none;
    }
}