<div class="component-header">
    <h1>Introduzca la ciudad para obtener el clima actual</h1>
</div>
    <div>
        <form class="form-horizontal" (ngSubmit)="onSubmit($event)">
            <div class="form-group row">
                <label class="control-label col-sm-3" for="city">Ciudad</label>
                <div class="col-sm-9">
                    <input [formControl]="city" (focus)="hideInfo()" name="city" id="city"  class="form-control" type="text"/>   
                            <div *ngIf="city?.touched && city.errors" class="invalid-feedback">
                                    <div *ngIf="city.errors.required">El nombre de la ciudad es requerido</div>
                                </div>        
                </div>
                        
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!city.valid">Buscar</button>
            </div>
        </form>
    </div>

    <div id="weather-info" *ngIf="submittedForm">
        <div class="forecast-container ">
                <div class="today forecast">
                        <div class="forecast-header">
                            <div class="day">Monday</div>
                            <div class="date">6 Oct</div>
                        </div> <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="location">{{currentWeather.location.name}}, {{currentWeather.location.country}}</div>
                            <div class="degree">
                                <div class="num">{{currentWeather.current.temp_c}}<sup>o</sup>C</div>
                                <div class="forecast-icon">
                                    <img src="{{currentWeather.current.condition.icon}}" alt="" width="90">
                                </div>	
                            </div>
                            <span><img src="./images/icon-umberella.png" alt="">{{currentWeather.current.precip_in}} In</span>
                            <span><img src="./images/icon-wind.png" alt="">{{currentWeather.current.wind_kph}}km/h</span>
                            <span><img src="./images/icon-compass.png" alt=""> {{currentWeather.current.wind_dir}}</span>
                        </div>
                    </div>
        </div>
    </div> 
